{% block content %}
    <h1>Latest Posts:</h1>
    <div class="table-responsive" id="showData"  style="max-height:800px">
        <form action="" method="POST">
            {% csrf_token %}
            {% for item in posts %}
            <input type="checkbox" name="checkbox" value= "{{ item.id }}"> <img src="{{ item.image_url}}" alt="Post Image">
                {{ item.title }}<br>{{ item.summary }}<br/>
                {% endfor %}
                <input type="submit" value="submit" name="submit">
        </form>
    </div>
{% endblock%}